/* styles.css */

/* Botón nuevo en verde */
.button-nuevo {
    -fx-background-color: #28a745; /* Verde */
    -fx-text-fill: white; /* Texto en blanco */
    -fx-font-size: 14px; /* Tamaño de fuente */
    -fx-padding: 10px; /* Relleno */
}

/* Botón editar en azul */
.button-editar {
    -fx-background-color: #007bff; /* Azul */
    -fx-text-fill: white; /* Texto en blanco */
    -fx-font-size: 14px;
    -fx-padding: 10px;
}

/* Botón borrar en rojo */
.button-borrar {
    -fx-background-color: #dc3545; /* Rojo */
    -fx-text-fill: white; /* Texto en blanco */
    -fx-font-size: 14px;
    -fx-padding: 10px;
}

/* Estilos para TableView */
.table-view {
    -fx-background-color: #ff8c00; /* Fondo de la tabla en naranja más fuerte */
    -fx-table-cell-border-color: transparent; /* Sin bordes entre celdas */
    -fx-padding: 10px; /* Relleno */
}

.table-view .column-header-background {
    -fx-background-color: #ff8c00; /* Fondo del encabezado del mismo color que la tabla */
}

.table-view .column-header .label {
    -fx-font-size: 16px; /* Tamaño de fuente más grande */
    -fx-font-style: italic; /* Fuente en cursiva */
    -fx-text-fill: white; /* Texto en blanco */
    -fx-alignment: CENTER; /* Alineación centrada */
}

.table-view .table-row-cell {
    -fx-background-color: #ff8c00; /* Fondo de las filas en naranja más fuerte */
    -fx-text-fill: white; /* Texto en blanco */
    -fx-border-color: transparent; /* Sin bordes en las filas */
    -fx-alignment: CENTER; /* Alineación centrada */
}

.table-view .table-row-cell:odd {
    -fx-background-color: #ffa07a; /* Alternar color para filas impares */
}

.table-view .table-cell {
    -fx-border-color: transparent; /* Sin bordes en las celdas */
    -fx-alignment: CENTER; /* Alineación centrada */
}

.table-view .column-header {
    -fx-background-color: #ff8c00; /* Fondo del encabezado del mismo color que la tabla */
    -fx-alignment: CENTER; /* Alineación centrada */
}
